### データの雰囲気を掴む

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("../input/train.csv")
feature = pd.read_csv("../input/features.csv")
patient_notes = pd.read_csv("../input/patient_notes.csv")

In [3]:
train.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [4]:
feature.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [8]:
patient_notes.head(100)

    pn_num  case_num                                         pn_history
0        0         0  17-year-old male, has come to the student heal...
1        1         0  17 yo male with recurrent palpitations for the...
2        2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3        3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4        4         0  17yo male with no pmh here for evaluation of p...
..     ...       ...                                                ...
95      99         0  17 year old male patient presenting with heart...
96     100         0  HPI: Dillon Cleveland is an otherwise healthy ...
97     101         0  17 year old male presents with 2-3 month hx of...
98     102         0  Mr Cleveland is a 17 yo Male with heart pundin...
99     103         0  17 yo M with complaints of heart palpations fo...

[100 rows x 3 columns]

In [ ]:
# めも: jupyter の設定, notebook の設定
# jupytertheme, nbextension, shell にまとめるかぁ
# notebookの設定 is pandas の表示設定とか

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pandas as pd
pd.read_csv('aaa')